{% extends "@VSApplication/layout.html.twig" %}

{% block title %}{{ parent() }} :: {{ 'vs_payment.template.payment_show_title' | trans( {},'VSPaymentBundle' ) }}{% endblock %}

{% block pageTitle %}<i class="icon_genius"></i> {{ 'vs_payment.template.payment_show_title' | trans( {},'VSPaymentBundle' ) }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div>
                <div style="float: left;"></div>
                <div style="float: right; margin-right: 30px; margin-bottom: 20px;">
                    <a class="btn btn-info btn-circle btn-sm"  
                        href="{{ path('vs_payment_payment_index') }}" 
                        title="{{ 'vs_payment.template.back_to_payments' | trans( {},'VSPaymentBundle' ) }}"
                    >
                        {{ 'vs_payment.template.back_to_payments' | trans( {},'VSPaymentBundle' ) }}
                    </a>
                    
                    <a class="btn btn-info btn-circle btn-sm"  
                        href="{{ path('vs_payment_custom_payment_actions_set_payment_paid', {'paymentId': resource.id}) }}" 
                        title="{{ 'vs_payment.template.action_set_order_status_paid' | trans( {},'VSPaymentBundle' ) }}"
                    >
                        {{ 'vs_payment.template.action_set_order_status_paid' | trans( {},'VSPaymentBundle' ) }}
                    </a>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">
                    {{ 'vs_payment.template.payment_show_subtitle' | trans( {},'VSPaymentBundle' ) }}: 
                    {{ resource.number }}
                </h5>
                <div class="card-body">
                    <table>
                        <tr>
                            <th>{{ 'vs_payment.template.recieved_payments_show.number' | trans( {},'VSPaymentBundle' ) }}</th>
                            <td>{{ resource.number }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'vs_payment.template.recieved_payments_show.gateway_factory' | trans( {},'VSPaymentBundle' ) }}</th>
                            <td>{{ resource.factoryName }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'vs_payment.template.recieved_payments_show.gateway_id' | trans( {},'VSPaymentBundle' ) }}</th>
                            <td>{{ resource.gatewayName }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'vs_payment.template.recieved_payments_show.description' | trans( {},'VSPaymentBundle' ) }}</th>
                            <td>{{ resource.description }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'vs_payment.template.recieved_payments_show.amount' | trans( {},'VSPaymentBundle' ) }}</th>
                            <td>{{ resource.totalAmount }}  {{ resource.currencyCode }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'vs_payment.template.recieved_payments_show.created_at' | trans( {},'VSPaymentBundle' ) }}</th>
                            <td>{{ resource.createdAt }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'vs_payment.template.recieved_payments_show.updated_at' | trans( {},'VSPaymentBundle' ) }}</th>
                            <td>{{ resource.updatedAt }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'vs_payment.template.recieved_payments_show.details' | trans( {},'VSPaymentBundle' ) }}</th>
                            <td>{{ resource.details | json_encode | raw }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}