{% extends "@VSApplication/layout.html.twig" %}

{% block title %}{{ parent() }} :: Select Payment Method{% endblock %}
{% block pageTitle %}<i class="fa fa-user-md"></i> Select Payment Method{% endblock %}

{% block content %}
    <div class="padding">
        <div class="row">
            <div class="col-sm-6">
                {{ form_start(form, { 'action': path( 'vs_payment_handle_payment_methods_form' ), 'attr': {'class': 'form-horizontal', 'id': 'vs_payment_payment_form'} }) }}
                    <div class="card">
                        <div class="card-header">
                            <strong>Select Payment Method</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        {{ form_row(form.paymentMethod, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-success float-right" type="submit"
                                name="{{ form.btnContinue.vars.full_name }}"
                                id="{{ form.btnContinue.vars.id }}"
                            >
                                <i class="mdi mdi-gamepad-circle"></i> {{ form.btnContinue.vars.label }}
                            </button>
                        </div>
                    </div>
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock content %}
