{% extends "@VSApplication/layout.html.twig" %}

{% block title %}{{ parent() }} :: {{ 'vs_payment.template.checkout_payment_title' | trans( {},'VSPaymentBundle' ) }}{% endblock %}
{% block pageTitle %}<i class="fa fa-user-md"></i> {{ 'vs_payment.template.checkout_payment_title' | trans( {},'VSPaymentBundle' ) }}{% endblock %}

{% block content %}
    <h3>{{ 'vs_application.menu.pricing_plans' | trans( {},'VSApplicationBundle' ) }}</h3>   
    <hr class="soft" />

    <div class="span6">
        {% include '@VSPayment/Pages/PricingPlansCheckout/Partial/pricing-plans-listing.html.twig' %}
    </div>
{% endblock %}

{% block widgets %}
    {% include '@VSPayment/Pages/PricingPlansCheckout/plan-modal.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'js/pricing-plans', null, 'BootstrapShopTheme' ) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags( 'js/pricing-plans', null, 'BootstrapShopTheme' ) }}
{% endblock %}
