{% if options is not empty %}
	<fieldset class="border border-dark rounded p-3 mb-4" style="width: 100%;">
        {% if sandbox %}
            <legend class="w-auto float-none ps-2 pe-2">{{ 'vs_payment.template.gateway_config_ext.config.sandbox_config_options_title' | trans( {},'VSPaymentBundle' ) }}</legend>
        {% else %}
            <legend class="w-auto float-none ps-2 pe-2">{{ 'vs_payment.template.gateway_config_ext.config.options_title' | trans( {},'VSPaymentBundle' ) }}</legend>
        {% endif %}
        
        {% if factory == 'paysera' %}
            <input type="hidden"
                id="gateway_config_form{% if sandbox %}_sandbox{% else %}_config{% endif %}_test"
                name="gateway_config_form[{% if sandbox %}sandboxConfig{% else %}config{% endif %}][test]"
                value="{% if sandbox %}true{% else %}false{% endif %}"
            />
        {% elseif sandbox %}
            <input type="hidden" name="gateway_config_form[sandboxConfig][sandbox]" value="true" />
        {% endif %}
        
        {% for key, value in options %}
           {% if key not in ['factory', 'sandbox', 'test'] %}
    	    <div class="form-group">
    	    	<label class="control-label col-lg-2">{{ key }}</label>
    	    	
    	        <div class="col-lg-10">
    	        	<input type="text"
                        id="gateway_config_form{% if sandbox %}_sandbox{% else %}_config{% endif %}_{{ key }}"
                        name="gateway_config_form[{% if sandbox %}sandboxConfig{% else %}config{% endif %}][{{ key }}]"
                        value="{{ value }}"
                        required="required"
                        size="100"
                    />
    	        </div>
    	    </div>
    	    {% endif %}
    	{% endfor %}
	</fieldset>
{% endif %}
    