{{ form_start(form) }}
	{{ form_widget(form.amt) }}
	{{ form_widget(form.currency) }}
	
    <div class="form-group">    
        {{ form_label(form.acct, null, {
            'label_attr': {'class': 'control-label col-lg-1'}
            }) 
        }}
        <div class="col-lg-10">
            <div class="checkbox">
                {{ form_widget(form.acct) }}
            </div>
        </div>
    </div>
            
    <div class="form-group">    
        {{ form_label(form.exp_date, null, {
            'label_attr': {'class': 'control-label col-lg-1'}
            }) 
        }}
        <div class="col-lg-10">
            <div class="checkbox">
                {{ form_widget(form.exp_date.month) }} / {{ form_widget(form.exp_date.year) }} 
                {{ form_widget(form.exp_date.day, {'attr': {'style': 'display:none'}}) }}
            </div>
        </div>
    </div>
    
    <div class="form-group">    
        {{ form_label(form.cvv, null, {
            'label_attr': {'class': 'control-label col-lg-1'}
            }) 
        }}
        <div class="col-lg-10">
            <div class="checkbox">
                {{ form_widget(form.cvv) }}
            </div>
        </div>
    </div>
            
    {{ form_widget(form.btnPay) }}
{{ form_end(form, {'render_rest': false}) }}    
