{% extends "@VSApplication/layout.html.twig" %}

{% block title %}{{ parent() }} :: {{ 'vs_payment.template.obtain_coupon_code_title' | trans( {},'VSPaymentBundle' ) }}{% endblock %}
{% block pageTitle %}<i class="fa fa-user-md"></i> {{ 'vs_payment.template.obtain_coupon_code_title' | trans( {},'VSPaymentBundle' ) }}{% endblock %}

{% block content %}
    {{ form_start( form, {'action': actionUrl, 'method': 'POST', 'attr': {'id': 'payum_obtain_coupon_code_form'}} ) }}
        <div class="sign__group">
            {{ form_label( form.couponCode, null, {'label_attr': {'class': 'col-form-label'}} ) }}
            {{ form_widget( form.couponCode, {'attr': {'class': 'form-control'}} ) }}
        </div>

        {{ form_widget( form.btnSubmit ) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock content %}
