{% extends "@VSApplication/layout.html.twig" %}

{% import "@VSApplication/Macros/form.html.twig" as vs_form %}

{% block title %}{{ parent() }} :: {{ 'vs_payment.template.payum_stripe_objects.create_stripe_product' | trans( {},'VSPaymentBundle' ) }}{% endblock %}
{% block pageTitle %}<i class="icon_genius"></i> {{ 'vs_payment.template.payum_stripe_objects.create_stripe_product' | trans( {},'VSPaymentBundle' ) }}{% endblock %}

{% block content %}
    <div class="row">
        <!-- ============================================================== -->
        <!-- basic tabs  -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">{{ 'vs_payment.template.payum_stripe_objects.create_stripe_product' | trans( {},'VSPaymentBundle' ) }}</h5>
                <div class="card-body">
                    {% if formErrors is defined %}
                        {{ vs_form.errors( formErrors ) }}     
                    {% endif %}
                    
                    {{ form_start(form, { 'attr': {'class': 'form-horizontal '} }) }}
                        {#
                        <div class="form-group">
                            {{ form_label(form.id, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            {{ form_widget(form.id, {'attr': {'class': 'form-control' }}) }}
                        </div>
                        #}
                        
                        <div class="form-group">
                            {{ form_label(form.name, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            {{ form_widget(form.name, {'attr': {'class': 'form-control' }}) }}
                        </div>
                        
                        <div class="input-group row vsFormButtonsGroup mt-5">
                            <div class="col-sm-2">
                                {{ form_widget(form.btnSubmit, {'attr': {'class': 'btn btn-primary', 'id':'btnSave'}}) }}
                            </div>
                            <div class="col-sm-2">
                                <a class="btn btn-secondary" href="{{ path( 'gateway_config_stripe_subscription_objects_index' ) }}">
                                    {{ 'vs_application.form.cancel' | trans( {},'VSApplicationBundle' ) }}
                                </a>
                            </div>
                            <div class="col-sm-6"></div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>  
{% endblock content %}